body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: beige
}

.calculator{
    border: 3px solid black;
}

.calculator div{
    font-size: 0;
    line-height: 0;

}

.calculator input{
    width: 501.7px;
    height: 50px;
    font-size: 40px;
    text-align: right;
}

.calculator_btn{
    width: 127px;
    height: 100px;
    font-size: 30px;
    background-color: white;
    cursor: pointer;
    line-height: 0;
}

.calculator_btn:hover{
    background-color: green;
    color: white;
}

.equl{
    width: 254px;
}